<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="/css/styles.css" rel="stylesheet">
    <title>Decipher</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        input[type=text] {
        padding: 12px 15px;
        width: 80%;
        margin: 8px 0;
        border: 2px solid black;
        border-radius: 4px;
        }
    </style>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
        let textBoxId = 0;
        function addTextBox()
        {
            var t=document.createElement("input");
            t.type="text";
            textBoxId++;
            t.id="option" + textBoxId;
            t.name="option" + textBoxId;
            id = "option" + textBoxId;
            var l = document.createElement("label");
            l.id = "label" + textBoxId
            l.for = id;
            l.innerHTML = " Hint " + textBoxId + ": ";
            var textBox = document.getElementById(id);
            document.getElementById("optionsDiv").appendChild(l);
            document.getElementById("optionsDiv").appendChild(t);
            document.getElementById("optionsDiv").appendChild(document.createElement("br"));
        }
        function deleteTextBox()
        {
            var t=document.getElementById("option"+textBoxId);
            var l=document.getElementById("label"+textBoxId);
            var b = document.getElementsByTagName("br")
            if(textBoxId == 0) {
                console.log("Should have atleast two options");
                throw "Should have atleast two options";
            }
            document.getElementById("optionsDiv").removeChild(t);
            document.getElementById("optionsDiv").removeChild(l);
            document.getElementById("optionsDiv").removeChild(b[b.length-1]);
            textBoxId--;
        }
    </script>
</head>
<body>
    <%- include('header.ejs') %>
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-3">
            <form action="/addQuestion" method="post">
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                            <p class="flash-error"> <%= messages.error[i] %></p>
                    <% } %>
                  <% } %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input type="hidden" name="quizId" value="<%= quizId %>" />
                <div class="py-4">
                    <div class="py-2">
                        <label for="title">Question:</label>
                        <textarea name="title" placeholder="Question Goes Here...." class="border border-gray-300 rounded p-2 w-full"></textarea>
                    </div>
                    <div class="py-2">
                        <label for="answer">Answer:</label>
                        <input type="text" name="answer" placeholder="Answer for the above question...." class="border border-gray-300 rounded w-full p-2">
                    </div>
                    <div id="optionsDiv">
                    </div>
                    <div class="py-2">
                        <button type="button" onclick="addTextBox()" class="bg-yellow-600 hover:bg-yellow-900 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Add Hint</button>
                        <button type="button" onclick="deleteTextBox()" class="bg-red-600 hover:bg-red-900 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Remove Hint</button>
                    </div>
                    <div class="py-2 centerElement">
                        <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Add Question</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>