<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content= "<%= csrfToken %>">
    <link href="/css/styles.css" rel="stylesheet" />
    <title>Decipher</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        li ol ul {
            display: list-item;
            list-style-position: inside;
            list-style-type:none
            }
    </style>
</head>
<body class="playerhome">
    <%- include('userheader.ejs') %>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
          <h3 class="text-xl centerElement py-1">Welcome <%= Name %></h3>
          <h6 class="py-4 text-lg">Enter the key to start the quiz</h6>
          <form action="/findQuiz" method="post">
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="flash-error"> <%= messages.error[i] %></p>
                <% } %>
              <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="py-3">
                <label for="quizKey">Quiz Key:</label>
                <input type="text" name="quizKey" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
            </div>
            <div class="py-3 centerElement"> 
                <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Start</button>        
            </div>
          </form>
        </div>
        <div class="col-start-2 col-span-4 px-20">
            <h3 class="text-2xl centerElement">Instructions</h3>
            <ul class="list-disc">
                <li>Initially each team of 2 players will be given a username and a password where they have to login</li>
                <li>Once the team logs in, they will be asked to enter the quiz key which will be shared by the coordinators/volunteers.</li>
                <li class="font-bold">The timer begins immediately after entering the quiz key and clicking on start</li>
                <li>During the task, if the players find the activity difficult they can use hints</li>
                <li>For each task 2 hints will be provided, which can be used by the players based on their requirement.</li> 
                <li class="font-bold">Note: When a player uses a hint, the maximum points that can be obtained by that question gets reduced (The question loses its worth for every hint used)</li>
                <li>For every question, click on the Submit button to submit and check your answer</li>
                <li>Each question can be submitted any number of times</li>
                <li>You will be ranked based on score and completion time</li>
                <li>When the task starts, discussions regarding the methodology will not be entertained.</li>
            </ul>
        </div>
    </div>
</body> 
</html>
