<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="/css/styles.css" rel="stylesheet">
    <title>COSC Quiz</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function fetchHint(questionId)
        {
            fetch(`/quiz/${questionId}/hint`, {
                method: "get",
                headers: {"Content-Type": "text/html"}
            })
            .then((res) => {
                if(res.ok) {
                    window.location.reload();
                }
            })
            .catch((err) => console.error(err));
        }
    </script>
    <script>
        // Set the date we're counting down to
        var countDownDate = new Date(new Date("<%= startTime %>").getTime() + <%= quiz.timer %>* 1000);
        
        // Update the count down every 1 second
        var x = setInterval(function() {
        
          // Get today's date and time
          var now = new Date().getTime();
        
          // Find the distance between now and the count down date
          var distance = countDownDate - now;
        
          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
          // Display the result in the element with id="timer"
          document.getElementById("timer").innerHTML = (days? days + "d " : "") + (hours? hours + "h " : "") + minutes + "m " + seconds + "s ";
        
          // If the count down is finished, write some text
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
            window.location.href = "/quiz/<%= quiz.id %>/complete";
          }
        }, 1000);
    </script>
        
</head>

<body class="question">
    <%- include('userheader.ejs') %>
    <div class="grid grid-cols-6">
        <div class="col-start-1 col-span-1">
            <div >
                <ul class="list-none" style="list-style-type: disc;">
                    <% for(var i=0; i < questions.length; i++) { %>
                        <li class="voter px-10 py-3" >
                            <a href="/quiz/<%= quizKey %>/question/<%= questions[i].id %>">Question <%= i+1 %></a>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
        <div class="v1"></div>
        <div class="col-start-2 col-span-3">
            <!-- <a href="/quiz/<%= quizKey %>/all"> <== All Questions</a> -->
            
            <form method="post" action="/submitAnswer">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input type="hidden" name="questionId" value="<%= question.id %>">
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="flash-error"> <%= messages.error[i] %></p>
                    <% } %>
                  <% } %>
                <% if(messages && messages.success && messages.success.length > 0)  { %>
                    <% for(var i=0; i<messages.success.length; i++) { %>
                            <p class="flash-success"> <%= messages.success[i] %></p>
                    <% } %>
                <% } %>
                <% let hints = question.hints.split("|~|"); %>
                <div class="py-2">
                    <h3 class="text-xl text-black-900 font-bold"><%= question.title%></h3>
                    <% for(var i=0; i < noOfHints; i++) { %>
                        <p>Hint <%= i+1 %>: <%= hints[i] %></p>
                    <% } %>
                    <label for="answer">Answer:</label>
                    <input type="text" name="answer" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3 centerElement"> 
                    <button type="button" onclick="fetchHint(<%= question.id %>)" value="Hint" class="tex>t-white bg-yellow-600 hover:bg-yellow-800 font-medium rounded px-5 py-2">Hint</button>
                </div>
                <div class="py-3 centerElement"> 
                    <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Submit</button>        
                </div>
            </form>
        </div>
        <p id="timer" class="text-lg col-start-6 col-span-1"></p>
    </div>
</body>
</html>